.md
{
  /*border: 1px solid black;*/
  width: 0px;
  height: 100%;
  visibility: hidden;
}

.md-desktop-phone
{
	width: 30%;
	visibility: visible;
	transition: 0.3s;
}

.md-clouse
{
	display: flex;
	justify-content: flex-end; 
	padding: 10px;
}

.md-clouse svg
{
	width: 35px;
	height: 35px;
	color: black;
}

.md-body
{
	/*border: 1px solid black;*/
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
}

.md-body .Link 
{
	text-decoration: none;
	background-color: black;
	color: white;
	padding: 10px;
}

.md-body .Link:hover 
{
	font-weight: 600;
}


@media only screen and (max-width: 600px) {

.md-desktop-phone
{
	width: 80%;
	visibility: visible;
	transition: 0.3s;
}

}